@{
    ViewBag.Title = "Car Trader";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Объявления о продаже автомобилей</p>
    <p><a href="@Url.Content("~/Cars/ShowAll")" class="btn btn-primary btn-lg">Просмотреть &raquo;</a></p>
</div>

<div class="row">
    <iframe width="720" height="405" src="https://www.youtube.com/embed/jyPINYSpxcw" frameborder="0" allowfullscreen></iframe>
   
</div>

